@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlanViewModel>
@{
    Layout = ViewTypes.Layouts.Core;
}

<div class="wrapper__register--outer">
    <div class="wrapper__register--inner">
        <div class="card__register--header">
            <a class="navbar-brand navbar__brand d-flex" href="/">
                <span class="navbar__brand--primary">Regi</span>
                <span class="navbar__brand--secondary">Flow</span>
            </a>
            <div>
                <h1>Choose a subscription plan</h1>
            </div>
        </div>
        <div class="card__register card__register--lg card shadow-sm">
            <div class="card__register--body card-body">
                @Html.Action(ViewTypes.Plan.Action, ViewTypes.Plan.Controller)
            </div>
        </div>
    </div>
</div>

@section postContentScripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
} 